
body {
    background-color: rgb(59, 59, 59);
    margin: 0;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.categoria {
    display: flex;
    align-items: stretch;
    min-height: 150px;
}

.classificacao-s,
.classificacao-a,
.classificacao-b,
.classificacao-c,
.classificacao-d,
.classificacao-e,
.classificacao-f {
    padding: 5px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid black;
    color: white;
}

.classificacao-s h3,
.classificacao-a h3,
.classificacao-b h3,
.classificacao-c h3,
.classificacao-d h3,
.classificacao-e h3,
.classificacao-f h3 {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.classificacao-s {
    background-color: rgb(255, 91, 91);
}

.classificacao-a {
    background-color: rgb(255, 168, 97);
}

.classificacao-b {
    background-color: rgb(252, 255, 85);
    color: black;
}

.classificacao-c {
    background-color: rgb(100, 255, 113);
}

.classificacao-d {
    background-color: rgb(75, 213, 255);
}

.classificacao-e {
    background-color: rgb(167, 120, 255);
}

.classificacao-f {
    background-color: rgb(255, 103, 255);
}


.dropszones {
    background-color: rgb(59, 59, 59);
    padding: 10px;
    border-top: 7px solid black;
    border-bottom: 7px solid black;
    border-right: 7px solid black;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.dropzone {
    height: 140px;
    width: 100px;
    border: 2px dashed #888;
    background-color: #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropzone.over {
    border: 2px solid #00ff4c;
    background-color: #6d6d6d;
    transform: scale(1.05);
    transition: all 0.1s ease-out;
}

.arastar {
    background-color: rgb(128, 128, 128);
    display: flex;
    border: 7px solid black;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.imagens-arastar {
    padding: 0;
    height: 140px;
    width: 100px;
}

.draggable {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: grab;
}

.draggable.dragging {
    opacity: 0.5;
    border: 2px dashed red;
}