body {
    background-color: white;
}

.categoria {
    display: flex;
}

.classificacao {
    background-color: white;
    border: 5px solid black;
    padding: 30px 50px;
}

.classificacao h3 {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dropszones {
    background-color: rgb(255, 145, 0);
    padding: 10px;
    border: 5px solid black;
    flex-grow: 1;
}

.arastar {
    display: flex;
}

.imagens-arastar {
    background-color: aliceblue;
    padding: 30px 50px;
    border: 5px solid black;
}